
h1, h2, h3, h4, h5, h6, p, button, span {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-weight: bold;
    margin-bottom: 5px;
}

@media(min-width: 768px) {
    h1 {
        font-size: 40px;
    }
}

.bold {
    font-weight: bold;
}